@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
   @font-face {
      font-family: 'avgardn';
      src: url('/fonts/AVGARDN.ttf') format('truetype');
   }

   @font-face {
      font-family: 'avgardnItalic';
      src: url('/fonts/AVGARDNI.ttf') format('truetype');
   }

   @font-face {
      font-family: 'pubg';
      src: url('/fonts/Pubg-Font.ttf') format('truetype');
   }

   @font-face {
      font-family: 'aubrey';
      src: url('/fonts/AUBREY.TTF') format('truetype');
   }

   @font-face {
      font-family: 'picoopic_Regular';
      src: url('/fonts/persians/picoopic-Regular.ttf') format('truetype');
   }

   @font-face {
      font-family: 'titre_Zebr2';
      src: url('/fonts/persians/TitrZebr2.ttf') format('truetype');
   }

   /* width */
   ::-webkit-scrollbar {
      width: 8px;
      height: 8px;
   }

   /* Track */
   ::-webkit-scrollbar-track {
      background-color: #555a4c;
   }

   /* Handle */
   ::-webkit-scrollbar-thumb {
      background-color: #cacccf;
      border-radius: 20px;
   }

   /* Handle on hover */
   ::-webkit-scrollbar-thumb:hover {
      background-color: #969797;
   }
}
