@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    @font-face {
        font-family: 'avgardn';
        src: url('/fonts/AVGARDN.ttf') format('truetype');
    }

    @font-face {
        font-family: 'avgardnItalic';
        src: url('/fonts/AVGARDNI.ttf') format('truetype');
    }

    @font-face {
        font-family: 'pubg';
        src: url('/fonts/Pubg-Font.ttf') format('truetype');
    }

    @font-face {
        font-family: 'aubrey';
        src: url('/fonts/AUBREY.TTF') format('truetype');
    }

    @font-face {
        font-family: 'picoopic_Regular';
        src: url('/fonts/persians/picoopic-Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'titre_Zebr2';
        src: url('/fonts/persians/TitrZebr2.ttf') format('truetype');
    }

}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    background-color: #131514;
    border: 1px solid #B0CEB8;
    font-family: aubrey;
}